<aside
  [attr.role]="role()"
  class="fixed left-0 top-0 h-full w-full transition-colors duration-200"
  [class]="{
    'bg-slate-950/90': (background$ | async)
  }"
>
  <div class="flex h-full items-center justify-center">
    <div class="m-5 w-full max-w-md rounded-lg bg-slate-700 p-5">
      @if (allowClose()) {
        <div class="mb-2 flex justify-end">
          <button class="text-right" (click)="closeModal()">
            <fa-icon [icon]="icons.close" />
          </button>
        </div>
      }
      <ng-content />
    </div>
  </div>
</aside>
