<div class="flex items-center">
  @for (star of rating(); track $index) {
    @switch (star) {
      @case (1) {
        <fa-icon [class]="{ 'text-fuchsia-500': true }" [icon]="icons.star" />
      }

      @case (0.5) {
        <fa-icon
          [class]="{ 'text-fuchsia-500': true }"
          [icon]="icons.halfStar"
        />
      }

      @default {
        <fa-icon
          [class]="{ 'text-fuchsia-500': true }"
          [icon]="icons.starEmpty"
        />
      }
    }
  }
  <span class="ml-2 text-sm">({{ value().toFixed(2) }})</span>
</div>
