@if (imageUrl$ | async; as imageUrl) {
  <div class="relative">
    <img
      [alt]="alt()"
      class="h-auto w-full opacity-0 transition-opacity duration-300"
      [src]="imageUrl"
      (load)="onImageLoaded(thumbnail)"
      #thumbnail
    />
    @if (played()) {
      <ng-container *ngTemplateOutlet="playedIcon" />
    }
  </div>
} @else {
  <div class="p-2">
    <fa-icon css="w-full h-auto" [icon]="icons.fallback()" />
  </div>
  @if (played()) {
    <div class="relative h-full w-full" [title]="'common:played' | translate">
      <ng-container *ngTemplateOutlet="playedIcon" />
    </div>
  }
}

<ng-template #playedIcon>
  <fa-icon
    css="absolute right-1 bottom-1 text-fuchsia-500 z-3"
    [icon]="icons.checkCircle"
  />
  <fa-icon
    css="absolute right-1 bottom-1 text-slate-900 z-2"
    [icon]="icons.circle"
  />
</ng-template>
