<ng-container [formGroup]="form">
  @if (label) {
    <label [attr.for]="id">{{ label }}</label>
  }
  <input
    class="bg-slate-400 border-slate-300 px-2 py-1 w-full rounded border text-slate-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-slate-800 focus:ring-fuchsia-700"
    [class]="errorClasses$ | async"
    [formControlName]="name"
    [id]="id"
    [attr.max]="max"
    [attr.min]="min"
    [attr.type]="type"
  />
  @if (errors$ | async; as errors) {
    <div class="mt-2 text-xs text-slate-300">
      @if (errors["required"]) {
        <span>This field is required.</span>
      }
      @if (errors["min"]; as err) {
        <span
          >This field has a minimum value of {{ err.min || "unknown" }}.</span
        >
      }
      @if (errors["max"]; as err) {
        <span
          >This field has a maximum value of {{ err.max || "unknown" }}.</span
        >
      }
    </div>
  }
</ng-container>
