<ng-container [formGroup]="form">
  @if (label) {
    <label [attr.for]="id">{{ label }}</label>
  }
  <input
    class="px-2 py-1 w-full rounded border text-slate-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-slate-800 focus:ring-fuchsia-700"
    [class]="{
      'bg-slate-400': !hasError,
      'bg-fuchsia-200': hasError,
      'border-fuchsia-500': hasError,
      'border-slate-300': !hasError
    }"
    [formControlName]="name"
    [id]="id"
    [attr.max]="max"
    [attr.min]="min"
    [attr.type]="type"
  />
  @if (hasError) {
    <div class="mt-2 text-xs text-slate-300">
      @if (errorRequired) {
        <span>This field is required.</span>
      }
      @if (errorMin) {
        <span>This field has a minimum value of {{ min || "unknown" }}.</span>
      }
      @if (errorMax) {
        <span>This field has a maximum value of {{ max || "unknown" }}.</span>
      }
      >
    </div>
  }
</ng-container>
