@if (album$ | async; as album) {
  <div class="sm:flex">
    <figure class="mb-4 w-full sm:mr-4 sm:max-w-72 md:max-w-96">
      <thumbnail [uri]="album.art?.thumb" type="album" />
    </figure>
    <section class="sm:flex-grow">
      <div class="md:max-w-96">
        <definition-list label="" [items]="album.details" />
      </div>
      @if (album.description) {
        <p>{{ album.description }}</p>
      }
      @if (album.rating !== undefined) {
        <div class="mb-8">
          <div>
            <strong>{{ "common:rating" | translate }}</strong>
          </div>
          <rating [value]="album.rating" />
        </div>
      }
      <song-list [songs]="album.songs" />
    </section>
  </div>
}
