<nav class="sticky top-24 z-10 mb-3">
  <ol class="flex justify-center" aria-label="Pagination">
    <li>
      <button
        [attr.aria-label]="'grid.pagination.first' | translate"
        [class]="classesFirst"
        (click)="changePage(1)"
        [disabled]="currentPage() <= 1"
        type="button"
      >
        <fa-icon [icon]="icons.first" />
      </button>
    </li>
    <li>
      <button
        [attr.aria-label]="
          'grid.pagination.previous' | translate: { page: previousPage() }
        "
        [class]="classesPreviousNext"
        (click)="changePage(currentPage() - 1)"
        [disabled]="currentPage() <= 1"
        type="button"
      >
        <fa-icon [icon]="icons.previous" />
      </button>
    </li>
    @for (page of pages$ | async; track $index) {
      <li>
        <button
          [attr.aria-current]="page.current"
          [attr.aria-label]="page.label"
          [class]="page.classes"
          (click)="changePage(page.value)"
          type="button"
        >
          {{ page.value }}
        </button>
      </li>
    }
    <li>
      <button
        [attr.aria-label]="
          'grid.pagination.next' | translate: { page: nextPage() }
        "
        [class]="classesPreviousNext"
        (click)="changePage(currentPage() + 1)"
        [disabled]="currentPage() + 1 > totalPages()"
        type="button"
      >
        <fa-icon [icon]="icons.next" />
      </button>
    </li>
    <li>
      <button
        [attr.aria-label]="
          'grid.pagination.last' | translate: { page: totalPages() }
        "
        [class]="classesLast"
        (click)="changePage(totalPages())"
        [disabled]="currentPage() + 1 > totalPages()"
        type="button"
      >
        <fa-icon [icon]="icons.last" />
      </button>
    </li>
  </ol>
</nav>
