<header class="sticky top-0 z-10 w-full bg-fuchsia-600 text-slate-50">
  <div class="flex items-center px-3 py-2">
    <kodi-logo />
    <p class="ml-2 grow text-lg">
      <span>Kodi</span>
    </p>
    <div>
      <button class="mr-6">
        <fa-icon [icon]="icons.remote" />
        <span class="sr-only">Remote</span>
      </button>
      <button class="mr-6">
        <fa-icon [icon]="icons.search" />
        <span class="sr-only">Search</span>
      </button>
      @if (allowProfileChange$ | async) {
        <button class="mr-6">
          <fa-icon [icon]="icons.profile" />
          <span class="sr-only">Change profile</span>
        </button>
      }
      <button>
        <fa-icon [icon]="icons.config" />
        <span class="sr-only">Edit configuration</span>
      </button>
    </div>
  </div>
  <div
    class="relative h-1.5"
    [class]="{
      'bg-slate-900': !(navigating$ | async),
      'bg-cyan-700': (navigating$ | async)
    }"
  >
    @if (navigating$ | async) {
      <span
        class="absolute left-[-50%] h-full w-1/2 animate-loading bg-cyan-500"
      ></span>
    }
  </div>
</header>
