<header class="sticky top-0 z-10 w-full bg-fuchsia-600 text-slate-50">
  <div class="flex items-center px-3 py-2">
    <kodi-logo />
    <div class="mx-3 grow">
      <h1 class="line-clamp-1 text-lg">
        {{ title$ | async }}
      </h1>
    </div>
    <button class="mr-6">
      <fa-icon [icon]="icons.remote" />
      <span class="sr-only">{{ "common:remote" | translate }}</span>
    </button>
    <button class="mr-6">
      <fa-icon [icon]="icons.search" />
      <span class="sr-only">{{ "common:search" | translate }}</span>
    </button>
    @if (allowProfileChange$ | async) {
      <button class="mr-6">
        <fa-icon [icon]="icons.profile" />
        <span class="sr-only">{{
          "navigation.appbar.buttons.profile" | translate
        }}</span>
      </button>
    }
    <button>
      <fa-icon [icon]="icons.config" />
      <span class="sr-only">{{
        "navigation.appbar.buttons.config" | translate
      }}</span>
    </button>
  </div>
  <div
    class="relative h-1.5"
    [class]="{
      'bg-slate-900': !(navigating$ | async),
      'bg-cyan-700': (navigating$ | async),
    }"
  >
    @if (navigating$ | async) {
      <span
        class="absolute left-[-50%] h-full w-1/2 animate-loading bg-cyan-500"
      ></span>
    }
  </div>
</header>
