@if (playingState$ | async; as state) {
  <div
    class="rounded-full border-2 border-fuchsia-600 bg-slate-900 p-1 leading-none"
  >
    <button (click)="modalOpen()" class="relative" type="button">
      @switch (state) {
        @case ("playing") {
          <fa-icon [icon]="icons.play" size="2x" />
          <fa-icon
            css="absolute top-0 left-0 animate-playing text-fuchsia-500"
            [icon]="icons.loading"
            size="2x"
          />
        }

        @case ("paused") {
          <fa-icon [icon]="icons.pause" size="2x" />
        }
      }
    </button>
  </div>
}

@if (showPlayingModal()) {
  <fullscreen-message [background]="true" (close)="modalClose()">
    @for (player of players$ | async; track player.id) {
      @if (player.item; as item) {
        <thumbnail type="picture" [uri]="item.thumbnail" />
        <p
          class="mb-2 mt-2 line-clamp-1 border-b border-slate-500 text-lg text-cyan-400"
        >
          {{ item.label }}
        </p>
        @for (detail of item.details; track $index) {
          <p>{{ detail }}</p>
        }
        <p class="mt-2">[playing timer here]</p>
        <p class="mt-2">[playing controls here]</p>
      }
    }
  </fullscreen-message>
}
