@switch (connectionState()) {
  @case ("connected") {
    <app-bar />
    <router-outlet />
    <navigation-bar />
  }

  @case ("connecting") {
    <fullscreen-message [allowClose]="false">
      <div class="text-center">
        <fa-icon animation="spin" [icon]="icons.loading" size="6x" />
        <div class="mt-2">
          {{ translations.connecting() }}
        </div>
      </div>
    </fullscreen-message>
  }

  @case ("disconnected") {
    <fullscreen-message [allowClose]="false">
      <heading [level]="1">{{ translations.title() }}</heading>
      <p class="mb-5">
        <strong>{{ translations.subtitle() }}</strong>
      </p>
      <p class="mb-2">
        {{ translations.errorListIntroduction() }}
      </p>
      <ordered-list [items]="errorListItems()" />
      <div class="my-5">
        <form-button (click)="reconnect()">{{
          translations.reconnect()
        }}</form-button>
      </div>
      <hr class="mb-5" />
      <p class="mb-2">
        {{ translations.summaryIntroduction() }}
      </p>
      <definition-list
        [label]="translations.label()"
        [items]="hostSummaryItems()"
      />
      <div class="my-5">
        <form-button (click)="clear()">{{
          translations.changeHost()
        }}</form-button>
      </div>
    </fullscreen-message>
  }
}
