@if (hasValidHost()) {
  <connection />
} @else {
  <fullscreen-message>
    <form novalidate (submit)="onSubmit($event)">
      <heading [level]="1">{{ translations.title() }}</heading>
      <div class="mb-5">
        <form-input-string
          [formField]="hostForm.hostname"
          [label]="translations.hostname()"
        />
      </div>
      <div class="mb-5">
        <form-input-number
          [formField]="hostForm.httpPort"
          [label]="translations.httpPort()"
        />
      </div>
      <div class="mb-5">
        <form-input-number
          [formField]="hostForm.tcpPort"
          [label]="translations.tcpPort()"
        />
      </div>
      <div>
        <form-button type="submit">{{ translations.save() }}</form-button>
      </div>
    </form>
  </fullscreen-message>
}
